@import '../../styles/variables';
.navbar {
  background: $white;
  .navbar-brand {
    img {
      max-width: 80px;
    }
  }
  .navbar-nav {
    .nav-item {
      .nav-link {
        cursor: pointer;
      }
    }
  }
}
