@import '../../styles/variables';
.footer {
  background-color: $green;
  color: $white;
  padding: 3em 0 2em 0;
  .logo {
    max-width: 150px;
    margin-bottom: 1em;
  }
  h4 {
    margin-bottom: 1em;
  }
  ul {
    list-style-type: square;
    li {
      margin-bottom: 0.5em;
    }
  }
}
@media (max-width: $sm) {
  .footer {
    h4 {
      margin-top: 1em;
    }
  }
}
